@{
    ViewData["Title"] = "Заказ успешно оформлен";
}

<h2>Ваш заказ успешно оформлен!</h2>
<p>Спасибо за покупку! Мы получили ваш заказ. Он будет обработан в ближайшее время. Мы свяжимся с вами по почте</p>

<form method="get" asp-controller="Home" asp-action="Index">
    <button type="submit" class="btn btn-primary">Вернуться на главную</button>
</form>